<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css" type="text/css">
    <title>AdminHo</title>
</head>
<body>
    <header>
        <h1>AdminHo</h1>
    </header>
    <main>
        <form action="/form" method = "POST">
            <p>Tipo Documento<select name= "tip_doc">
                <option value="1">Registro Civil</option>
            </select></p>
            <p>No. Documento<input type = "integer" name = "num_doc" /></p>
            <p>Nombre <input type = "text" name = "nombres" /></p>
            <p>Apellido <input type = "text" name = "apellidos" /></p>
            <p>Celular <input type = "text" name = "celular" /></p>
            <p>E-mail <input type = "text" name = "correo" placeholder="E-mail" /></p>
            <p><input type = "submit" value = "Registrar" /></p>
        </form>
    </main>
</body>
</html>