<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css" type="text/css">
    <title>AdminHo</title>
</head>
<body>
    <header>
        <h1>AdminHo</h1>
    </header>
    <main>
        <form action="/Register" method = "POST">
            <p>Tipo Documento<select name= "tDoc">
                <option value="1">Registro Civil</option>
            </select></p>
            <p>No. Documento<input type = "integer" name = "documento" /></p>
            <p>Piso<select name= "piso">
                <option value="1">07</option>
            </select></p>
            <p>Oficina<select name= "oficina">
                <option value="1">728</option>
            </select></p>
            <p><input type = "submit" value = "Registrar" /></p>
        </form>
    </main>
</body>
</html>